/* VARS */
/* STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  width: 85%;
  margin: 0 auto; }

header {
  padding: 10px 0px;
  width: 100%;
  text-align: center; }

.fixed {
  position: fixed;
  z-index: 999;
  background-color: #fff; }

.topMenu {
  background-color: #fff; }
  .topMenu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .topMenu ul .logo {
      width: 170px;
      margin: 0px 100px;
      text-align: center; }
      .topMenu ul .logo span {
        font-size: 24px;
        color: #808ae2;
        text-transform: uppercase; }
    .topMenu ul li {
      position: relative;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 600;
      color: #818181; }
      .topMenu ul li:hover:not(#exception) {
        color: #5363db; }
        .topMenu ul li:hover:not(#exception):after {
          content: "";
          width: 50%;
          height: 1px;
          background-color: #5363db;
          position: absolute;
          left: 25%;
          bottom: -5px; }
      .topMenu ul li:nth-of-type(4n + 2) {
        margin: 0px 30px; }

/* SLIDER */
.slider {
  text-align: center;
  position: relative;
  padding: 100px 0px;
  background-image: url("../img/slider-bg.jpg");
  background-size: cover; }
  .slider p {
    display: inline-block;
    text-align: left;
    color: white; }
    .slider p span:first-of-type {
      display: inline-block;
      font-size: 48px;
      font-family: "Open Sans";
      font-weight: 800;
      text-transform: uppercase; }
    .slider p span:last-of-type {
      display: inline-block;
      margin-top: 20px;
      font-size: 40px;
      font-family: "Freestyle script"; }
  .slider form {
    display: inline-block;
    position: relative;
    border-radius: 5%;
    background-color: #fff;
    padding: 30px 40px 20px 30px;
    margin-right: 65px; }
    .slider form h3 {
      text-align: left;
      margin-bottom: 30px;
      color: #5363db;
      font-size: 26px;
      font-family: 'Open Sans';
      font-weight: 600; }
    .slider form input, .slider form select {
      padding: 18px 10px 20px;
      width: 230px;
      background-color: #f2f2f2;
      margin-bottom: 18px;
      border: none;
      border-radius: 10%; }
    .slider form select {
      position: relative;
      width: 100%;
      color: #a0a0a0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 30px; }
    .slider form .button {
      background-color: #475bf1;
      padding: 12px 64px;
      color: #fff;
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight: 800;
      width: 175px;
      border-radius: 5%;
      float: right; }
      .slider form .button:after {
        content: '';
        width: 100%;
        display: inline-block; }

/* PLACEHOLDERS */
::-webkit-input-placeholder {
  color: #a0a0a0; }

::-moz-placeholder {
  color: #a0a0a0; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #a0a0a0; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #a0a0a0; }

/* CLASSES */
.programm {
  padding: 125px 0px; }
  .programm .prog-flex {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
  .programm h1 {
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #5b6ceb; }
  .programm h2 {
    color: #777777;
    font-size: 40px;
    font-family: "Freestyle Script";
    text-align: center; }
  .programm .classes {
    width: 48%;
    margin-bottom: 25px;
    padding-right: 20px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.1); }
    .programm .classes h3 {
      font-size: 16px;
      color: #777777;
      text-transform: uppercase;
      margin-top: 50px; }
    .programm .classes img {
      float: left;
      margin-right: 30px; }
    .programm .classes p {
      margin: 35px 0px;
      font-size: 14px;
      font-family: "Open Sans";
      color: #555555; }
    .programm .classes span {
      color: #999999;
      font-size: 14px; }
    .programm .classes:after {
      content: "";
      clear: both;
      max-height: 1px;
      display: block; }

/* GALLERY */
.gallery {
  width: 100%;
  line-height: 0; }
  .gallery:after {
    content: "";
    display: block;
    clear: both; }
  .gallery .gallery-item {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 24.9999999999%; }
    .gallery .gallery-item img {
      width: 100%;
      height: auto; }
    .gallery .gallery-item:hover .hovered {
      opacity: 1; }
    .gallery .gallery-item .hovered {
      opacity: 0;
      background-color: rgba(91, 108, 235, 0.8);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
      .gallery .gallery-item .hovered img {
        width: 59px;
        height: 59px;
        position: absolute;
        left: 40%;
        top: 40%; }

/* ABOUT US */
.clearfix:after {
  content: " ";
  clear: both;
  width: 100%;
  height: 0;
  display: block; }

.about {
  padding: 125px 0px; }
  .about .img-slider {
    position: relative;
    float: right;
    width: 48%; }
    .about .img-slider img {
      width: 100%;
      height: auto; }
    .about .img-slider .btn-prev {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 43%;
      left: -5%;
      transform: rotate(180deg); }
    .about .img-slider .btn-next {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 43%;
      right: -5%; }
  .about .text {
    float: left;
    width: 43%; }
    .about .text h3 {
      text-transform: uppercase;
      font-size: 30px;
      font-family: "Open Sans";
      font-weight: 800;
      margin: 25px 0px;
      color: #5b6ceb; }
    .about .text p {
      font-size: 14px;
      color: #555555; }

/* FEATURES */
.features {
  padding: 125px 0;
  background-image: url("../img/featuresbg.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  .features .featflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between; }
  .features .feature {
    width: 22%;
    text-align: center; }
    .features .feature:nth-of-type(-n+4) {
      margin-bottom: 50px; }
    .features .feature h3 {
      margin: 25px 0px 15px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 800;
      font-family: "Open Sans";
      color: #fff; }
    .features .feature p {
      font-family: "Open Sans";
      font-size: 16px;
      color: #fff; }

/* PRICES */
.prises {
  padding: 100px 0px 150px;
  background-image: url("../img/lotos-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  .prises .prices_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .prises .prices_top .price {
      background-color: #fff;
      width: 31.5%;
      -webkit-box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.1);
      border-top-left-radius: 15%;
      border-top-right-radius: 15%; }
      .prises .prices_top .price .price_top {
        color: #fff;
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        background-color: #5b6ceb;
        padding: 50px 0px;
        text-align: center;
        font-size: 66px;
        line-height: 0.8;
        font-weight: 800;
        font-family: "Open Sans"; }
        .prises .prices_top .price .price_top span {
          font-size: 18px; }
  .prises .price_text {
    position: relative;
    padding: 50px 0px;
    text-align: center; }
    .prises .price_text div {
      position: relative;
      padding: 20px 0px;
      text-transform: uppercase;
      color: #555555;
      font-size: 18px; }
      .prises .price_text div:nth-of-type(2):after {
        content: "";
        width: 100px;
        height: 1px;
        background-color: #d7d7d7;
        position: absolute;
        left: 35%;
        bottom: 0; }
      .prises .price_text div:nth-of-type(2):before {
        content: "";
        width: 100px;
        height: 1px;
        background-color: #d7d7d7;
        position: absolute;
        left: 35%;
        top: 0; }
    .prises .price_text button {
      width: 46%;
      margin-top: 30px;
      padding: 13px;
      border: none;
      border-radius: 20px;
      text-align: center;
      background-color: #5b6ceb;
      color: #fff;
      font-size: 18px;
      font-family: "Open Sans";
      font-weight: 600; }
  .prises .prices_quote {
    position: relative;
    margin-top: 105px;
    padding: 50px 0px;
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .prises .prices_quote .photo {
      display: inline-block;
      position: relative;
      width: 23%;
      text-align: center; }
      .prises .prices_quote .photo:after {
        content: "";
        width: 1px;
        height: 75px;
        background-color: #d7d7d7;
        position: absolute;
        right: 0;
        bottom: 5%; }
    .prises .prices_quote blockquote {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 63%;
      padding: 0px 30px;
      font-family: "Open Sans";
      font-size: 14px;
      font-style: italic;
      color: #555555; }
      .prises .prices_quote blockquote:before {
        content: " \" ";
        color: #5b6ceb;
        font-size: 60px;
        position: absolute;
        line-height: 0;
        left: -2%;
        transform: rotate(180deg); }
      .prises .prices_quote blockquote:after {
        content: " \" ";
        color: #5b6ceb;
        font-size: 60px;
        position: absolute;
        line-height: 0;
        bottom: 30%;
        right: -2%; }
      .prises .prices_quote blockquote p {
        margin-bottom: 30px; }
      .prises .prices_quote blockquote span:nth-of-type(1) {
        font-size: 14px;
        color: #777777;
        font-style: normal; }
      .prises .prices_quote blockquote span:nth-of-type(2) {
        font-family: "Open Sans";
        font-weight: 800;
        font-size: 16px;
        color: #5b6ceb;
        font-style: normal; }
    .prises .prices_quote .otherTrainer {
      padding: 0px 35px;
      width: 22%;
      background-color: transparent;
      vertical-align: middle;
      position: absolute;
      bottom: -14%;
      left: 25%; }
      .prises .prices_quote .otherTrainer img {
        float: left; }
      .prises .prices_quote .otherTrainer div {
        margin: 14px 0px 14px 15px;
        display: inline-block;
        line-height: 1.4;
        span-font-size: 14px;
        span-font-family: "Open Sans";
        span-font-weight: 800;
        span-color: #555555; }
        .prises .prices_quote .otherTrainer div span:last-of-type {
          font-size: 12px;
          font-family: "Open Sans";
          font-weight: normal;
          color: #777777; }
      .prises .prices_quote .otherTrainer .btn:nth-of-type(2) {
        position: absolute;
        width: 29px;
        height: 29px;
        right: -5%;
        top: 30%; }
      .prises .prices_quote .otherTrainer .btn:last-of-type {
        position: absolute;
        width: 29px;
        height: 29px;
        left: -5%;
        top: 30%;
        transform: rotate(180deg); }

/* FOOTER */
.footer {
  vertical-align: top;
  padding: 90px 0px;
  background-color: #5b6ceb; }
  .footer .footer_about {
    width: 40%;
    float: left; }
    .footer .footer_about h3 {
      font-size: 18px;
      font-family: "Open Sans";
      font-weight: 800;
      color: #fff;
      text-transform: uppercase; }
    .footer .footer_about p {
      font-size: 14px;
      font-family: "Open Sans";
      color: #fff;
      margin: 50px 0px; }
    .footer .footer_about .social img {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 10px; }
  .footer .contact {
    width: 43%;
    display: inline-block;
    margin-left: 10%; }
    .footer .contact h3 {
      font-size: 18px;
      font-family: "Open Sans";
      font-weight: 800;
      color: #fff;
      text-transform: uppercase; }
    .footer .contact .contact_flex {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .footer .contact .contact_flex div {
        width: 40%;
        margin-bottom: 30px;
        font-family: "Open Sans";
        font-size: 14px;
        color: #fff; }
        .footer .contact .contact_flex div img {
          width: 27px;
          height: 27px;
          float: left; }

.coopyright {
  padding: 40px 0px;
  background-color: #5363d8;
  text-align: center;
  font-size: 16px;
  color: #b7bffc;
  font-family: "Open Sans"; }
